---
import ReactLayout from "@/layouts/ReactLayout.astro";
import { RegisterForm } from "./_components/register-form";
---

<ReactLayout title="Register - English for Abroad">
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
      <RegisterForm client:load />
    </div>
  </div>
</ReactLayout>
