# Recaptcha
PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Email setup
GMAIL_APP_EMAIL=
GMAIL_APP_PASSWORD=

# Stripe payments
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=

# Brevo email marketing
BREVO_API_KEY=

# Other
SITE=
