---
import DashboardPageLayout from "@/layouts/DashboardPageLayout.astro";
---

<DashboardPageLayout title="Dashboard - English for Abroad">
  <h1 class="text-2xl font-bold">Dashboard</h1>
</DashboardPageLayout>
