---
export const prerender = false;

import ProgressTracker from "@/components/dashboard/cards/ProgressTracker.astro";
import DashboardLayout from "@/layouts/DashboardLayout.astro";

const classes = [
  { name: "Class #1" },
  { name: "Class #2", missed: true },
  { name: "Class #3", completed: true },
  { name: "Class #4" },
];
---

<DashboardLayout title="English for Abroad - Dashboard">
  <div class="grid grid-rows-2 gap-6">
    <!-- #1 No classes purchased -->
    <ProgressTracker items={classes} />
  </div>
</DashboardLayout>
