---
import ReactLayout from "@/layouts/ReactLayout.astro";
---

<ReactLayout title="Dashboard - English for Abroad">
  <div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-4xl">
      <h1>Dashboard</h1>
    </div>
  </div>
</ReactLayout>