---
export const prerender = false;

import DashboardLayout from "@/layouts/DashboardLayout.astro";
import ChangePasswordForm from "@/components/settings/ChangePasswordForm.vue";
import TwoColumn from "@/components/settings/TwoColumn.astro";
---

<DashboardLayout title="English for Abroad - Settings">
  <div class="divide-y divide-gray-900/10">
    <TwoColumn
      title="Personal Information"
      description="Use a permanent address where you can receive mail."
    >
      <ChangePasswordForm client:load />
    </TwoColumn>
  </div>
</DashboardLayout>
