---
import { getCreditBalance } from "@/queries/credits/get-credit-balance.query";

interface Props {
  userId: string;
}

const { userId } = Astro.props;
const creditBalance = await getCreditBalance(userId);
---

<p class="text-sm font-medium">Current balance: {creditBalance} credits</p>
