---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";

const user = Astro.locals.user;
---

<Layout title="English for Abroad - Dashboard">
  <p>{user.email}</p>
</Layout>
