---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";

const user = Astro.locals.user;

const TABS = [
  { name: "Dashboard", href: "#", current: true },
  { name: "Team", href: "#", current: false },
  { name: "Projects", href: "#", current: false },
  { name: "Calendar", href: "#", current: false },
  { name: "Documents", href: "#", current: false },
  { name: "Reports", href: "#", current: false },
];
---

<Layout title="English for Abroad - Dashboard">
  <main class="bg-white h-full">dashboard</main>
</Layout>
