---
import Banner from "@/components/Banner.astro";
import TopLeftBlob from "@/components/TopLeftBlob.astro";
import type Article from "@/interfaces/article";
import LandingLayout from "@/layouts/LandingLayout.astro";
import fetchApi from "@/lib/strapi";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Methodology from "@/sections/Methodology.astro";
import Prices from "@/sections/Prices.astro";
import Services from "@/sections/Services.astro";
import Testimonials from "@/sections/Testimonials.astro";

// const articles = await fetchApi<Article[]>({
//   endpoint: "articles", // the content type to fetch
//   wrappedByKey: "data", // the key to unwrap the response
// });

// console.log(articles);
---

<LandingLayout title="English for Abroad - Online English Lessons">
  <!-- <div class="absolute top-0 left-0 -z-10 hidden lg:block">
    <TopLeftBlob />
  </div> -->

  <main class="isolate grow">
    <Hero />

    <Banner />

    <Services />

    <!-- <Prices /> -->

    <Methodology />

    <Testimonials />
  </main>

  <Footer />
</LandingLayout>
