---
import Banner from "@/components/Banner.astro";
import TopLeftBlob from "@/components/TopLeftBlob.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Methodology from "@/sections/Methodology.astro";
import Prices from "@/sections/Prices.astro";
import Services from "@/sections/Services.astro";
import Testimonials from "@/sections/Testimonials.astro";
---

<Layout title="English for Abroad - Online English Lessons">
  <!-- <div class="absolute top-0 left-0 -z-10 hidden lg:block">
    <TopLeftBlob />
  </div> -->

  <main class="isolate">
    <Hero />

    <Banner />

    <Services />

    <!-- <Prices /> -->

    <Methodology />

    <Testimonials />
  </main>

  <Footer />
</Layout>
