---
import Banner from "../components/Banner.astro";
import BottomLeftBlob from "../components/BottomLeftBlob.astro";
import BottomRightBlob from "../components/BottomRightBlobk.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import TestimonialsCarousel from "../components/TestimonialsCarousel.astro";
import TopLeftBlob from "../components/TopLeftBlob.astro";
import Layout from "../layouts/Layout.astro";
// import BigArrowRight from "../icons/BigArrowRight.astro";
import Calendar from "../icons/Calendar.astro";
import Certficate from "../icons/Certificate.astro";
import Notebook from "../icons/Notebook.astro";
import Writing from "../icons/Writing.astro";
import Footer from "../sections/Footer.astro";

const cards = [
  {
    title: "Flexible Scheduling",
    description:
      "Choose a lesson plan that work for you. From daily 30 minutes to once a week, I adjust to your needs!",
    icon: Calendar,
  },
  {
    title: "Personalized Curriculum",
    description:
      "Your goals guide our lessons. Expect a learning plan that adapts to your needs and interests.",
    icon: Notebook,
  },
  {
    title: "Continuous Feedback",
    description:
      "Grow with every lesson. Receive consistent feedback that highlights your progress and points for development.",
    icon: Writing,
  },
  {
    title: "Content Mastery",
    description:
      "Gain a firm grasp of English. Apply it confidently in your professional life and academic endeavors.",
    icon: Certficate,
  },
];
---

<Layout title="Welcome to Astro.">
  <Navbar />

  <main class="">
    <!-- Main blob -->
    <div class="absolute top-0 left-0 -z-10">
      <TopLeftBlob />
    </div>

    <section class="relative">
      <!-- Hero blobs -->
      <div class="absolute bottom-0 right-0 -z-10 hidden md:block">
        <BottomRightBlob />
      </div>

      <div class="absolute bottom-0 left-0 -z-10">
        <BottomLeftBlob />
      </div>

      <div
        class="grid md:grid-cols-3 lg:grid-cols-[1fr,auto] gap-x-32 px-8 md:pr-0 lg:pl-32 pt-12 2xl:container 2xl:px-0"
      >
        <div
          class="flex flex-col items-center md:items-start gap-y-4 text-center md:text-start md:col-span-2 lg:col-span-1"
        >
          <h1 class="text-6xl text-cyan-800">
            Launch your English <br /> Learning Journey
          </h1>
          <p class="text-cyan-800">
            Hi! I’m Ali, an American English teacher offering personalized ESL
            classes. With an educational foundation from Georgetown University
            and two master’s degrees, I specialize in one-on-one classes
            tailored to fit the goals and learning styles of students at all
            levels. Let’s work together to build your confidence and skills in
            English!
          </p>
          <!-- <a
            href="/"
            class="bg-amber-500 text-white font-bold uppercase rounded-full px-4 py-2 flex gap-x-2"
            >Enroll Now <BigArrowRight />
          </a> -->
        </div>
        <div
          class="flex justify-center md:justify-end md:col-span-2 md:col-start-2 lg:col-span-1 object-contain"
        >
          <img src="/ali.png" alt="Ali" width="400" height="422.25" />
        </div>
      </div>
    </section>

    <Banner />

    <section id="methodology" class="bg-[#F0F0F0]">
      <div class="2xl:container grid md:grid-cols-2 gap-12 p-20 2xl:px-0">
        <h2 class="text-5xl text-cyan-800 md:col-span-2 text-center">
          Discover a new way of learning
        </h2>
        <div class="hidden lg:flex lg:items-center lg:justify-center">
          <img src="/student.png" alt="Student" />
        </div>
        <div
          class="grid sm:grid-cols-2 md:col-span-2 lg:col-span-1 grid-rows-2 gap-6"
        >
          {cards.map((card) => <Card {...card} />)}
        </div>
      </div>
    </section>

    <section id="testimonials" class="bg-[#85CBCC] py-20">
      <h2 class="text-5xl text-center text-white pb-12">Testimonials</h2>

      <TestimonialsCarousel />
    </section>

    <!-- <section class="bg-red-200">PRICES PRICES PRICES</section> -->
  </main>

  <Footer />
</Layout>
