---
import Banner from "@/components/Banner.astro";
import Navbar from "@/components/Navbar.astro";
import TopLeftBlob from "@/components/TopLeftBlob.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Methodology from "@/sections/Methodology.astro";
import Services from "@/sections/Services.astro";
import Hero from "@/sections/Hero.astro";
import Prices from "@/sections/Prices.astro";
---

<Layout title="English for Abroad - Online English Lessons">
  <div class="absolute top-0 left-0 -z-10">
    <TopLeftBlob />
  </div>

  <Navbar />

  <main>
    <Hero />

    <Banner />

    <Services />

    <Prices />

    <Methodology />

    <Testimonials />
  </main>

  <Footer />
</Layout>
