---
import Banner from "@/components/Banner.astro";
import TopLeftBlob from "@/components/TopLeftBlob.astro";
import Layout from "@/layouts/Layout.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Methodology from "@/sections/Methodology.astro";
import Prices from "@/sections/Prices.astro";
import Services from "@/sections/Services.astro";
import Testimonials from "@/sections/Testimonials.astro";
---

<Layout title="English for Abroad - Online English Lessons">
  <!-- <div class="absolute top-0 left-0 -z-10 hidden lg:block">
    <TopLeftBlob />
  </div> -->

  <main class="isolate overflow-x-hidden grow">
    <Hero />

    <Banner />

    <Services />

    <!-- <Prices /> -->

    <Methodology />

    <Testimonials />
  </main>

  <Footer />
</Layout>

<script>
  const cta = document.querySelector("#calendly-cta");
  const hero = document.querySelector("section#hero");

  const observer = new IntersectionObserver(
    ([entry]) => {
      if (entry.isIntersecting) {
        // Hero is in view → hide CTA
        cta.classList.add("opacity-0", "pointer-events-none");
      } else {
        // Hero is out of view → show CTA
        cta.classList.remove("opacity-0", "pointer-events-none");
      }
    },
    {
      root: null,
      threshold: 0.4, // small threshold means even a little bit of hero showing will count as visible
    }
  );

  if (hero) {
    observer.observe(hero);
  }
</script>
