---
import Banner from "../components/Banner.astro";
import Navbar from "../components/Navbar.astro";
import TopLeftBlob from "../components/TopLeftBlob.astro";
import Layout from "../layouts/Layout.astro";
// import BigArrowRight from "../icons/BigArrowRight.astro";
import Footer from "../sections/Footer.astro";
import Testimonials from "../sections/Testimonials.astro";
import Methodology from "../sections/Methodology.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <div class="absolute top-0 left-0 -z-10">
    <TopLeftBlob />
  </div>

  <Navbar />

  <main class="">
    <!-- Main blob -->

    <Hero />

    <Banner />

    <Methodology />

    <Testimonials />
    <!-- <section class="bg-red-200">PRICES PRICES PRICES</section> -->
  </main>

  <Footer /></Layout
>
