---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import TopLeftBlob from "../components/TopLeftBlob.astro";
import BottomLeftBlob from "../components/BottomLeftBlob.astro";
import HeroBlob from "../components/HeroBlob.astro";
import Banner from "../components/Banner.astro";
import Card from "../components/Card.astro";
import TestimonialsCarousel from "../components/TestimonialsCarousel.astro";

const cards = [
  {
    title: "Personalized Classes",
    description:
      "I offer one-on-one classes tailored to fit the goals and learning styles of students at all levels.",
  },
  {
    title: "Flexible Scheduling",
    description:
      "I work with you to find a time that fits your schedule, no matter where you are in the world.",
  },
  {
    title: "Customized Curriculum",
    description:
      "I create a personalized curriculum for each student, focusing on the skills you want to improve.",
  },
  {
    title: "Professional Experience",
    description:
      "With two master’s degrees and a background in education, I have the experience to help you succeed.",
  },
];

const currentYear = new Date().getFullYear();
---

<Layout title="Welcome to Astro.">
  <aside class="py-6">
    <nav class="">
      <ul class="flex justify-center items-center gap-x-20">
        <li class="text-cyan-800 font-bold uppercase">
          <a href="/">ABOUT ME</a>
        </li>
        <li class="text-cyan-800 font-bold uppercase">
          <a href="/plans">PLANS</a>
        </li>
        <li>
          <a href="/">
            <Logo />
          </a>
        </li>
        <li class="text-cyan-800 font-bold uppercase">
          <a href="/esl-classes">ESL CLASSES</a>
        </li>
        <li class="text-cyan-800 font-bold uppercase">
          <a href="/college-apps">COLLEGE APPS</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main class="">
    <!-- Main blob -->
    <div class="absolute -top-10 -left-10">
      <TopLeftBlob />
    </div>

    <section class="grid grid-cols-2 pl-32 py-20 relative">
      <!-- Hero blobs -->
      <div class="absolute bottom-0 right-0 -z-10">
        <HeroBlob />
      </div>

      <div class="absolute bottom-0 left-0">
        <BottomLeftBlob />
      </div>

      <div class="flex flex-col items-start gap-y-4">
        <h1 class="text-6xl text-cyan-800">
          Launch your English <br /> Learning Journey
        </h1>
        <p class="text-cyan-800">
          Hi! I’m Ali, an American English teacher offering personalized ESL
          classes. With an educational foundation from Georgetown University and
          two master’s degrees, I specialize in one-on-one classes tailored to
          fit the goals and learning styles of students at all levels. Let’s
          work together to build your confidence and skills in English!
        </p>
        <button
          class="bg-amber-500 text-white font-bold uppercase rounded-full px-4 py-2"
          >Enroll Now ➡️</button
        >
      </div>

      <div class="flex justify-end">
        <img
          src="/ali.png"
          alt="Ali"
          class="z-[1000]"
          width="400"
          height="400"
        />
      </div>
    </section>

    <Banner />

    <section class="bg-[#F0F0F0] grid grid-cols-2 gap-12 p-20">
      <h2 class="font-bold text-5xl text-cyan-800 col-span-2 text-center">
        Discover a new way of learning
      </h2>

      <div><img src="/student.png" alt="Student" /></div>

      <div class="grid grid-cols-2 grid-rows-2 gap-6">
        {cards.map((card) => <Card {...card} />)}
      </div>
    </section>

    <section class="bg-[#85CBCC] p-20">
      <h2 class="font-bold text-5xl text-center text-white pb-12">
        Testimonials
      </h2>

      <TestimonialsCarousel />
    </section>

    <section class="">PRICES PRICES PRICES</section>
  </main>

  <footer class="bg-[#85CBCC] py-10 px-20 text-white grid grid-cols-2 gap-y-4">
    <h3 class="font-bold">Contact</h3>

    <a class="col-start-1" href="mailto:ali@theenrights.com">
      📫 info@alienright.com
    </a>

    <!-- separator -->
    <div class="col-span-2 border-b border-white my-4"></div>

    <p>
      ©️ Ali Enright. All Rights Reserved {currentYear}
    </p>

    <a class="text-end" href="/terms">Terms & Conditions</a>
  </footer>
</Layout>
