---
export const prerender = false;

import Logo from "@/components/Logo.astro";
import Layout from "@/layouts/Layout.astro";
import RegisterForm from "@/components/RegisterForm.vue";
import RecaptchaScript from "@/components/RecaptchaScript.astro";
---

<Layout title="English for Abroad - Register">
  <RecaptchaScript slot="recaptcha" />

  <main
    class="flex flex-col justify-center px-6 py-12 lg:px-8 bg-white min-h-full"
  >
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <a href="/">
        <Logo class="w-20 mx-auto" />
      </a>
      <h2
        class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-primary"
      >
        Register an account
      </h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <RegisterForm client:load />
      <p class="mt-10 text-center text-sm/6 text-gray-500">
        Already a member?
        <a href="/login" class="font-semibold text-primary hover:text-accent"
          >Log in instead</a
        >
      </p>
    </div>
  </main>
</Layout>
