---
import Navbar from "@/components/Navbar.astro";
import RestLayout from "@/layouts/RestLayout.astro";
import Podcasts from "@/components/Podcasts.astro";
import TvShows from "@/components/TvShows.astro";
import Movies from "@/components/Movies.astro";
import Footer from "@/sections/Footer.astro";
---

<RestLayout title="English for Abroad - Resources">
  <meta name="robots" content="noindex, nofollow" slot="head" />

  <main class="grow bg-accent">
    <Podcasts />

    <!--  <TvShows /> -->

    <!-- <Movies /> -->
  </main>

  <Footer />
</RestLayout>
