---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import Podcasts from "@/components/Podcasts.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout title="Resources">
  <Navbar />

  <main class="flex-1">
    <Podcasts />

    <!-- <TvShows /> -->
  </main>

  <Footer />
</Layout>
