---
import Navbar from "@/components/Navbar.astro";
import Layout from "@/layouts/Layout.astro";
import Podcasts from "@/components/Podcasts.astro";
import TvShows from "@/components/TvShows.astro";
import Movies from "@/components/Movies.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout title="English for Abroad - Resources">
  <main class="flex-1 bg-[#85CBCC]">
    <Podcasts />

    <TvShows />

    <!-- <Movies /> -->
  </main>

  <Footer />
</Layout>
