---
import cn from "@/utils/cn";
---

<div
  class={cn("overflow-hidden rounded-lg bg-white shadow-sm", {
    "divide-y divide-gray-200": Astro.slots.has("header"),
  })}
>
  {
    Astro.slots.has("header") && (
      <div class="px-4 py-5 sm:px-6 ">
        <slot name="header" />
      </div>
    )
  }

  <div class="px-4 py-5 sm:p-6">
    <slot />
  </div>
</div>
