---
import { Button } from "@/components/ui/button";
import cn from "@/utils/cn";

const { class: className } = Astro.props;
---

<Button
  id="calendly-cta"
  class={cn(
    "fixed right-0 top-1/5 z-cta origin-bottom-right rotate-[270deg] rounded-b-none px-8 uppercase tracking-[0.18em]",
    className
  )}
  href=""
  onclick="Calendly.initPopupWidget({url: 'https://calendly.com/englishforabroad/trial-esl-class'});return false;"
>
  Book Discovery Call
</Button>
