---
interface Props {
  title: string;
  description: string;
  icon: any;
}

const { title, description, icon: Icon } = Astro.props;
---

<div
  class="hover:scale-105 sm:hover:scale-110 transition relative flex flex-col gap-y-2 rounded-xl border border-accent text-primary p-4 bg-white shadow-lg"
>
  <Icon />
  <h3 class="text-lg font-bold">{title}</h3>
  <p>{description}</p>
</div>
