---
import MoviesCarousel from "@/components/MoviesCarousel.vue";
import MoviesTags from "@/components/MoviesTags.vue";
import { getCollection } from "astro:content";

const markdowns = await getCollection("movies");
const movies = markdowns.map<any>((markdown) => ({
  ...markdown.data,
  slug: markdown.id,
  url: `/resources/movies/${markdown.id}`,
}));
---

<section class="bg-accent text-white py-8 md:py-12">
  <div class="px-4 md:px-8">
    <h2 class="text-5xl text-center md:text-start">Movies</h2>

    <p class="mt-2 text-balance">
      Movies are an entertaining way to immerse yourself in English for an
      extended period. They provide rich storytelling, cultural references, and
      natural dialogue, helping you improve both listening skills and
      vocabulary. Choose genres you love to keep the experience enjoyable and
      engaging. <span class="font-bold">Pro tip</span>: Start with subtitles in
      English to follow along more easily, then challenge yourself by turning
      them off as you get more comfortable. Try repeating key phrases to
      practice pronunciation and intonation!
    </p>
  </div>

  <MoviesTags client:load />

  <MoviesCarousel client:load movies={movies} />
</section>
