---
import Logo from "@/components/Logo.astro";
import Container from "./Container.astro";
import MobileNavbar from "@/components/MobileNavbar.astro";
---

<Container tag="header" class="py-6 hidden lg:block" data-header>
  <nav class="grid grid-cols-[1fr,max-content,1fr] gap-x-10">
    <!-- first half -->
    <ul class="flex justify-end items-center gap-x-6">
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="/#">HOME</a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="/#pricing">PRICING</a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="/#methodology">METHODOLOGY</a>
      </li>
    </ul>

    <!-- logo -->
    <a href="/#">
      <Logo />
    </a>

    <!-- second half -->
    <ul class="flex items-center gap-x-6">
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="/#testimonials">TESTIMONIALS</a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="/resources">RESOURCES</a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="#contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</Container>

<MobileNavbar />
