---
import Logo from "../components/Logo.astro";
---

<aside class="py-6">
  <nav class="">
    <ul class="flex justify-between items-center px-32">
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="/">HOME</a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="#methodology">METHODOLOGY</a>
      </li>
      <li>
        <a href="/">
          <Logo />
        </a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="#testimonials">TESTIMONIALS</a>
      </li>
      <li class="text-cyan-800 font-extrabold uppercase">
        <a href="#contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</aside>
