---
import Logo from "@/components/Logo.astro";
import MobileNavbar from "@/components/MobileNavbar.vue";
import { NAV } from "@/utils/constants";

const firstHalf = NAV.slice(0, Math.ceil(NAV.length / 2));
const secondHalf = NAV.slice(Math.ceil(NAV.length / 2));
---

<header class="p-4 hidden lg:block sticky top-0 bg-white z-navbar shadow-lg">
  <div class="grid grid-cols-[1fr_max-content_1fr] gap-x-8 text-cyan-800">
    <!-- first half -->
    <nav class="flex justify-end items-center gap-x-4">
      {
        firstHalf.map((item) => (
          <a
            class="font-extrabold uppercase  hover:text-[#85CBCC] transition focus:text-[#85CBCC]"
            href={item.href}
          >
            {item.text}
          </a>
        ))
      }
    </nav>

    <!-- logo -->
    <div class="size-[100px]">
      <a href="/#">
        <Logo />
      </a>
    </div>

    <!-- second half -->
    <nav class="flex items-center gap-x-4">
      {
        secondHalf.map((item) => (
          <a
            class="font-extrabold uppercase  hover:text-[#85CBCC] transition focus:text-[#85CBCC]"
            href={item.href}
          >
            {item.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<MobileNavbar client:load>
  <Logo />
</MobileNavbar>
