---
import PodcastsCarousel from "@/components/PodcastsCarousel.vue";
import PodcastsTags from "@/components/PodcastsTags.vue";
import { type Podcast } from "@/types/resources";

const markdowns = await Astro.glob("../pages/resources/podcasts/*.md");
const podcasts = markdowns.map<Podcast>((markdown) => ({
  url: markdown.url!,
  ...(markdown.frontmatter as Omit<Podcast, "url">),
}));
---

<section class="bg-[#85CBCC] px-4 md:px-8 py-8 md:py-12">
  <h2 class="text-5xl">Podcasts</h2>

  <PodcastsTags client:load />

  <PodcastsCarousel client:load podcasts={podcasts} />
</section>
