---
import PodcastsTags from "@/components/PodcastsTags";
import PodcastsCarousel from "@/components/PodcastsCarousel.vue";
import { getCollection } from "astro:content";
import resolveResourceImage from "@/utils/resolveResourceImage";

const markdowns = await getCollection("podcasts");
const podcasts = markdowns.map<any>((markdown) => ({
  ...markdown.data,
  image: resolveResourceImage(markdown.data.image) ?? markdown.data.image,
  slug: markdown.id,
  url: `/resources/podcasts/${markdown.id}`,
}));
---

<section class="bg-accent text-white py-8 md:py-12">
  <div class="px-4 md:px-8">
    <h2 class="text-5xl text-center md:text-start">Podcasts</h2>
    <p class="mt-2 text-balance">
      Podcasts are a great way to improve your English while you're on the go.
      Whether you're commuting, working out, or just relaxing at home, you can
      find a podcast that interests you. Pick topics that pique your interest,
      like self-help, politics, or design. Pro tip: Adjust the playback speed if
      it's too fast and focus on the big picture rather than every single word.
    </p>
  </div>
  <!-- TODO breadcrumb -->
  <!-- <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
  </ul> -->

  <PodcastsTags client:visible />

  <PodcastsCarousel client:load podcasts={podcasts} />
</section>
