---
import PodcastsTags from "@/components/PodcastsTags.vue";
import PodcastsList from "@/components/PodcastsList.vue";
---

<section class="bg-[#85CBCC]">
  <h2>Podcasts</h2>

  <PodcastsTags client:load />

  <PodcastsList client:load />
</section>
