---
import PodcastsCarousel from "@/components/PodcastsCarousel.vue";
import PodcastsTags from "@/components/PodcastsTags.vue";
import { getCollection } from "astro:content";
import type { Podcast } from "@/content/config";

const podcasts = (await getCollection("podcasts")) as unknown as Podcast[];
---

<section class="bg-[#85CBCC] text-white py-8 md:py-12">
  <h2 class="text-5xl px-4 md:px-8">Podcasts</h2>

  <!-- TODO breadcrumb -->
  <!-- <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/">Home</a>
    </li>
  </ul> -->

  <PodcastsTags client:load />

  <PodcastsCarousel client:load podcasts={podcasts} />
</section>
