---
import "swiper/css";
import FiveStars from "../components/FiveStars.astro";
interface Testimonial {
  student: string;
  platform: string;
  opinion: string;
}

const TESTIMONIALS: Testimonial[] = [
  {
    student: "John Doe",
    platform: "Google",
    opinion: "Great course!",
  },
  {
    student: "Jane Doe",
    platform: "Facebook",
    opinion:
      "I liked the course, but I think some topics need deeper coverage.",
  },
  {
    student: "Alice Doe",
    platform: "Twitter",
    opinion:
      "The course content was decent, but my expectations were perhaps too high. I was looking for more advanced techniques and practical projects.",
  },
  {
    student: "Bob Doe",
    platform: "Instagram",
    opinion:
      "I didn't find the course helpful. It didn't align with my learning goals, and the pacing was off for me.",
  },
  {
    student: "Eve Doe",
    platform: "LinkedIn",
    opinion:
      "Honestly, I was extremely disappointed. The course was advertised to cover extensive material and provide in-depth learning experiences, but it failed to deliver on those promises. It felt like a complete misrepresentation of what was actually offered.",
  },
];
---

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";

  new Swiper(".swiper-testimonials", {
    loop: true,
    slidesPerView: 1,
    modules: [Autoplay],
    autoplay: {
      delay: 1500,
      disableOnInteraction: true,
    },
    speed: 1000,
    breakpoints: {
      768: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
      1440: {
        slidesPerView: 4,
      },
    },
  });
</script>

<div class="swiper swiper-testimonials">
  <div class="swiper-wrapper">
    {
      TESTIMONIALS.map((testimonial) => (
        <div class="swiper-slide px-8">
          <div class="bg-white rounded-xl text-cyan-800 flex flex-col gap-y-2 p-8 shadow-lg">
            <p class="line-clamp-6" title={testimonial.opinion}>
              {testimonial.opinion}
            </p>
            <h3 class="font-bold text-lg">{testimonial.student}</h3>
            <p>{testimonial.platform}</p>
            <FiveStars />
          </div>
        </div>
      ))
    }
  </div>
</div>
