---
import TvShowsCarousel from "@/components/TvShowsCarousel.vue";
import TvShowsTags from "@/components/TvShowsTags.vue";
import { type Podcast } from "@/types/resources";

const markdowns = await Astro.glob("../pages/resources/tvshows/*.md");
const tvShows = markdowns.map<Podcast>((markdown) => ({
  url: markdown.url!,
  ...(markdown.frontmatter as Omit<Podcast, "url">),
}));
---

<section class="bg-[#85CBCC] text-white py-8 md:py-12">
  <h2 class="text-5xl px-4 md:px-8">Tv Shows</h2>

  <TvShowsTags client:load />

  <TvShowsCarousel client:load tvShows={tvShows} />
</section>
