---
import TvShowsCarousel from "@/components/TvShowsCarousel.vue";
import TvShowsTags from "@/components/TvShowsTags.vue";
import { getCollection } from "astro:content";
import resolveResourceImage from "@/utils/resolveResourceImage";

const markdowns = await getCollection("tvShows");
const tvShows = markdowns.map<any>((markdown) => ({
  ...markdown.data,
  image: resolveResourceImage(markdown.data.image) ?? markdown.data.image,
  slug: markdown.id,
  url: `/resources/tvshows/${markdown.id}`,
}));
---

<section class="bg-accent text-white py-8 md:py-12">
  <div class="px-4 md:px-8">
    <h2 class="text-5xl text-center md:text-start">Tv Shows</h2>

    <p class="mt-2 text-balance">
      If you want your English to sound more native, TV shows are the happy
      medium between practice and play. They give you visual context and expose
      you to different accents and cultures. Choose shows you enjoy to keep
      yourself entertained and motivated.. Pro tip: Watch with English subtitles
      to help you follow along and observe how characters speak. Perhaps even
      try mimicking their phrases to practice pronunciation!
    </p>
  </div>

  <TvShowsTags client:load />

  <TvShowsCarousel client:load tvShows={tvShows} />
</section>
