---
import TvShowsCarousel from "@/components/TvShowsCarousel.vue";
import TvShowsTags from "@/components/TvShowsTags.vue";
import { type TVShow } from "@/content/config";
import { getCollection } from "astro:content";

const tvShows = (await getCollection("tvshows")) as unknown as TVShow[];
---

<section class="bg-[#85CBCC] text-white py-8 md:py-12">
  <h2 class="text-5xl px-4 md:px-8">Tv Shows</h2>

  <TvShowsTags client:load />

  <TvShowsCarousel client:load tvShows={tvShows} />
</section>
