---
import BurgerMenu from "./BurgerMenu.vue";
import ProfileDropdown from "./ProfileDropdown.vue";

const { user } = Astro.locals;
---

<div
  class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-xs sm:gap-x-6 sm:px-6 lg:px-8"
>
  <BurgerMenu client:load />

  <!-- Separator -->
  <div class="h-6 w-px bg-gray-200 lg:hidden" aria-hidden="true"></div>

  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6 justify-end">
    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <ProfileDropdown client:load user={user} />
    </div>
  </div>
</div>
