---
import DashboardMenu from "./DashboardMenu.vue";
import Cog from "@//icons/cog.svg";
---

<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
  <div
    class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6"
  >
    <div class="flex h-16 shrink-0 items-center">
      <slot name="logo" />
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
          <ul role="list" class="-mx-2 space-y-1">
            <DashboardMenu client:load />
          </ul>
        </li>

        <li class="-mx-6 mt-auto">
          <a
            href="/dashboard/settings"
            class="flex items-center gap-x-4 px-6 py-3 text-sm/6 font-semibold text-gray-700 hover:bg-gray-50 hover:text-primary transition"
          >
            <Cog class="size-6" />
            <span class="sr-only">Your profile</span>
            <span aria-hidden="true">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
