---
import Email from "@/icons/Email.astro";
import TikTok from "@/icons/tiktok.svg";
import Instagram from "@/icons/instagram.svg";
import Container from "@/components/Container.astro";

const currentYear = new Date().getFullYear();
---

<footer id="contact" class="bg-[#85CBCC] text-white">
  <Container tag="div" class="py-8 md:py-12">
    <div class="space-y-4">
      <h2 class="text-2xl">Contact</h2>
      <div class="flex gap-x-2">
        <a
          href="https://www.instagram.com/englishforabroad/"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-cyan-800 transition focus:text-cyan-800"
        >
          <Instagram />
        </a>
        <a
          href="https://www.tiktok.com/@englishforabroad_"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-cyan-800 transition focus:text-cyan-800"
        >
          <TikTok />
        </a>
      </div>
      <div class="pb-4">
        <a
          class="underline font-bold hover:text-cyan-800 transition focus:text-cyan-800"
          href="mailto:ali@englishforabroad.com"
        >
          ali@englishforabroad.com
        </a>
      </div>

      <div
        class="border-t border-white pt-4 grid grid-cols-2 grid-rows-[auto_auto] md:grid-cols-1 gap-y-2 gap-x-4"
      >
        <a
          class="text-sm underline hover:text-cyan-800 transition focus:text-cyan-800 text-right md:text-start"
          href="/legal-notice"
        >
          Legal notice
        </a>
        <a
          class="text-sm underline hover:text-cyan-800 transition focus:text-cyan-800"
          href="/privacy-policy"
        >
          Privacy policy
        </a>
        <p class="text-sm col-span-2 md:col-span-1 text-center md:text-start">
          &copy; English for Abroad. All Rights Reserved {currentYear}
        </p>
      </div>
    </div>
  </Container>
</footer>
