---
import { Image } from "astro:assets";
import BookDiscoveryCall from "@/components/BookDiscoveryCall.astro";
// import BottomLeftBlob from "@/components/blobs/BottomLeftBlob.astro";
// import BottomRightBlob from "@/components/blobs/BottomRightBlob.astro";
import aliImage from "@/images/ali.webp";
---

<section class="relative overflow-x-hidden" id="hero">
  <!-- Hero blobs -->
  <!-- <div class="absolute bottom-0 right-0 -z-10 hidden sm:block">
    <BottomRightBlob />
  </div>

  <div class="absolute bottom-0 left-0 -z-10">
    <BottomLeftBlob />
  </div> -->

  <div
    class="mx-auto grid max-w-6xl grid-cols-[minmax(250px,550px)] place-items-center place-content-center gap-y-10 px-4 pt-12 md:px-8 md:pt-24 lg:grid-cols-[minmax(250px,560px)_max-content] lg:grid-rows-5 lg:gap-x-20 lg:pr-0"
  >
    <!-- Title & Description -->
    <div
      class="space-y-5 text-center lg:row-span-4 lg:row-start-1 lg:text-start"
    >
      <h1 class="text-5xl md:text-6xl lg:text-7xl">Launch your English Journey</h1>
      <p class="max-w-2xl text-base text-muted-foreground md:text-lg lg:max-w-xl">
        Hi! I'm Ali, an American English teacher offering personalized ESL
        classes. With an educational foundation from Georgetown University and
        two master's degrees, I specialize in one-on-one classes tailored to fit
        the goals and learning styles of students at all levels. Let's work
        together to build your confidence and skills in English!
      </p>

      <!-- CTA -->
      <BookDiscoveryCall class="w-full md:mx-auto md:w-fit lg:mx-0" />
    </div>

    <!-- Hero image -->
    <Image
      src={aliImage}
      alt="Ali"
      width="500"
      height="500"
      class="lg:row-span-5 lg:row-start-1 rounded-[2rem]"
      loading="eager"
    />
  </div>
</section>
