---
import { Image } from "astro:assets";
import BottomLeftBlob from "@/components/BottomLeftBlob.astro";
import BottomRightBlob from "@/components/BottomRightBlobk.astro";
import aliImage from "@/images/ali.webp";
import BigArrowRight from "@/icons/BigArrowRight.astro";
---

<section class="relative overflow-x-hidden">
  <!-- Hero blobs -->
  <div class="absolute bottom-0 right-0 -z-10 hidden sm:block">
    <BottomRightBlob />
  </div>

  <div class="absolute bottom-0 left-0 -z-10">
    <BottomLeftBlob />
  </div>

  <div
    class="px-4 md:px-8 pt-8 md:pt-12 grid gap-y-8 place-items-center place-content-center 2xl:container grid-cols-[minmax(250px,550px)] lg:grid-cols-[minmax(250px,550px),max-content] lg:pr-0 lg:grid-rows-5 lg:gap-x-20"
  >
    <!-- Title & Description -->
    <div
      class="text-center text-cyan-800 space-y-4 lg:text-start lg:row-span-4 lg:row-start-1"
    >
      <h1 class="text-6xl">
        Launch your English <br /> Learning Journey
      </h1>
      <p class="">
        Hi! I'm Ali, an American English teacher offering personalized ESL
        classes. With an educational foundation from Georgetown University and
        two master's degrees, I specialize in one-on-one classes tailored to fit
        the goals and learning styles of students at all levels. Let's work
        together to build your confidence and skills in English!
      </p>

      <!-- CTA -->
      <a
        href=""
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/englishforabroad/trial-esl-class'});return false;"
        class="bg-[#FF9E80] text-white font-bold uppercase rounded-full px-12 py-2 flex gap-x-2 w-full md:w-fit justify-center md:mx-auto lg:mx-0 shadow-md transition hover:-translate-y-1 focus:-translate-y-1"
        >Book Free Trial<BigArrowRight />
      </a>
    </div>

    <!-- Hero image -->
    <Image
      src={aliImage}
      alt="Ali"
      width="500"
      height="500"
      class="lg:row-span-5 lg:row-start-1"
      loading="eager"
    />
  </div>
</section>
