---
import BigArrowRight from "@/icons/BigArrowRight.astro";
import WaitlistForm from "@/pages/_waitlist-form";
---

<section id="services" class="bg-surface">
  <div
    class="px-4 md:px-8 py-8 md:py-12 2xl:container mx-auto space-y-4 overflow-x-hidden"
  >
    <h2 class="text-5xl text-primary text-center">Services</h2>
    <h3 class="font-title text-primary text-3xl text-center">
      Custom English Coaching
    </h3>

    <div class="grid gap-6 md:grid-cols-2">
      <!-- Card #1 1:1 50-Minute Classes -->
      <div class="p-4 bg-white text-primary rounded-lg shadow-md space-y-2">
        <h3 class="text-xl font-title text-center">1:1 ENGLISH COACHING</h3>
        <p class="">
          Personalized support to help you speak English naturally and
          confidently
        </p>
        <ul class="list-disc list-inside">
          <li>
            Lessons fully customized to your goals, profession, interests, and
            communication style
          </li>
          <li>
            Weekly live sessions focused on fluency, tone, expression, and
            practical communication
          </li>
          <li>
            Ongoing access to a shared Google Doc with notes, assignments,
            vocabulary, and feedback
          </li>
          <li>
            Personalized materials and class replays available to help you
            review and stay on track
          </li>
          <li>Individual support between sessions via KakaoTalk or WhatsApp</li>
          <li>
            Includes 12 private sessions (50 minutes each) to use over 15 weeks
            — $600 total or 3 payments of $200
          </li>
        </ul>
        <p class="mb-4">Book a free discovery call to get started.</p>

        <!-- CTA -->
        <div class="flex justify-center">
          <a
            href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/englishforabroad/trial-esl-class'});return false;"
            class="bg-peach text-white font-bold uppercase rounded-lg px-12 py-2 flex gap-x-2 w-full md:w-fit justify-center md:mx-auto lg:mx-0 shadow-md transition hover:-translate-y-1 focus:-translate-y-1"
            >Book Discovery Call<BigArrowRight />
          </a>
        </div>
      </div>

      <!-- Card #2 Group classes -->
      <div
        class="p-4 bg-white text-primary rounded-lg shadow-md space-y-2 relative"
      >
        <!-- <div
          class="top-0 right-0 absolute uppercase font-title translate-x-1/3 rotate-45 text-lg bg-primary px-2 rounded-full translate-y-1/2 select-none"
        >
          <p class="text-white">Coming soon!</p>
        </div> -->
        <h3 class="text-xl font-title text-center">
          GROUP ENGLISH CLASSES (COMING SOON)
        </h3>
        <p class="">
          Build speaking confidence abroad with a community of women
        </p>
        <ul class="list-disc list-inside">
          <li>
            Practice everyday topics like small talk, emotions, pop culture, and
            cultural differences
          </li>
          <li>
            Fix awkward Konglish and sound more natural with personalized
            feedback
          </li>
          <li>
            Express yourself clearly and connect through meaningful conversation
          </li>
          <li>
            Join a group of supportive, motivated women who share your goals
          </li>
          <li>
            Includes class recordings, shared materials, and weekly speaking
            practice
          </li>
        </ul>
        <p class="">
          Enter your email to join the waitlist and get updates on class dates,
          tips, and early access to offers.
        </p>
        <WaitlistForm client:visible />
      </div>
    </div>
  </div>
</section>
