---

---

<section id="services" class="bg-[#F0F0F0]">
  <div class="px-4 md:px-8 py-8 md:py-12 2xl:container mx-auto space-y-4">
    <h2 class="text-5xl text-cyan-800 text-center">Services</h2>
    <h3 class="font-title text-cyan-800 text-3xl text-center">
      1:1 Custom English Coaching
    </h3>
    <p class="text-balance text-center text-cyan-800">
      Customized lessons to help you speak fluently and naturally, tailored
      specifically to your goals—whether you're preparing for an international
      job, studying abroad, or traveling.
    </p>

    <div class="grid gap-6 md:place-items-center">
      <!-- Card #1 25-Minute Classes -->
      <!-- <div class="p-4 bg-white text-cyan-800 rounded-lg shadow-md space-y-2">
        <h3 class="text-xl font-title text-center">25-Minute classes</h3>
        <ul class="list-disc list-inside">
          <li>Quick, focused sessions</li>
          <li>Ideal for frequent check-ins and specific skills practice</li>
          <li>
            Brief, targeted corrections on speaking, writing, or cultural
            discussions
          </li>
        </ul>
      </div> -->
      <!-- Card #2 50-Minute Classes -->
      <div
        class="p-4 md:px-8 bg-white text-cyan-800 rounded-lg shadow-md space-y-2"
      >
        <h3 class="text-xl font-title text-center">50-Minute classes</h3>
        <ul class="list-disc list-inside">
          <li>Comprehensive and detailed lessons</li>
          <li>Best for deep dives into topics with extended feedback</li>
          <li>
            Covers multiple areas: speaking, writing, and cultural conversations
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
