---
import TestimonialsCarousel from "../components/TestimonialsCarousel.astro";
---

<section
  id="testimonials"
  class="bg-[#85CBCC] py-8 md:py-12 text-white space-y-8 md:space-y-12"
>
  <h2 class="text-5xl text-center">Testimonials</h2>

  <TestimonialsCarousel />
</section>
