---
export const prerender = false;

import DashboardDesktopSidebar from "@/components/dashboard/DashboardDesktopSidebar.astro";
import DashboardLogo from "@/components/dashboard/DashboardLogo.astro";
import DashboardMobileSidebar from "@/components/dashboard/DashboardMobileSidebar.vue";
import DashboardTopBar from "@/components/dashboard/DashboardTopBar.vue";
import Layout from "@/layouts/Layout.astro";

const { title } = Astro.props;

const { user } = Astro.locals;
---

<Layout title={title}>
  <div class="bg-surface h-full">
    <!-- Mobile menu -->
    <DashboardMobileSidebar client:load>
      <DashboardLogo slot="logo" />
    </DashboardMobileSidebar>

    <!-- Desktop sidebar -->
    <DashboardDesktopSidebar>
      <DashboardLogo slot="logo" />
    </DashboardDesktopSidebar>

    <!-- Main -->
    <div class="lg:pl-72">
      <DashboardTopBar client:load user={user} />

      <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8">
          <!-- Your content -->
          <slot />
        </div>
      </main>
    </div>
  </div>
</Layout>
