---
export const prerender = false;

import DashboardDesktopSidebar from "@/components/dashboard/DashboardDesktopSidebar.astro";
import DashboardLogo from "@/components/dashboard/DashboardLogo.astro";
import MobileMenu from "@/components/dashboard/MobileMenu.vue";
import TopBarVue from "@/components/dashboard/TopBarVue.vue";
import Layout from "@/layouts/Layout.astro";

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="bg-surface h-full">
    <!-- Mobile menu -->
    <MobileMenu client:load>
      <DashboardLogo slot="logo" />
    </MobileMenu>

    <!-- Desktop sidebar -->
    <DashboardDesktopSidebar>
      <DashboardLogo slot="logo" />
    </DashboardDesktopSidebar>

    <!-- Main -->
    <div class="lg:pl-72">
      <TopBarVue client:load />

      <main class="py-10">
        <div class="px-4 sm:px-6 lg:px-8">
          <!-- Your content -->
          <slot />
        </div>
      </main>
    </div>
  </div>
</Layout>
