---
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Watch and Learn: Free TV English Guide | 영어 TV 말하기 가이드",
  description = "Build confidence speaking English with TV shows. Get the free Watch and Learn guide. 영어로 자연스럽게 말하는 연습과 추천 프로그램 포함!",
} = Astro.props;
---

<html lang="en">
  <head>
    <!-- BASE -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <ClientRouter />

    <!-- SEO: title, description, keywords, viewport -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="ESL Classes, Online Lessons, Business English, English Tutoring, Conversation Course"
    />

    <!-- OPEN GRAPH -->
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Private, personalized English lessons for kids and adults. From conversation and business to writing and test prep—tailored to your goals, all levels welcome. Start your learning journey today!"
    />
    <meta
      property="og:image"
      content="https://www.englishforabroad.com/logo.png"
    />
    <meta property="og:url" content="https://www.englishforabroad.com/" />
    <meta property="og:type" content="website" />
  </head>
  <body class="bg-surface h-full">
    <slot />
  </body>
</html>
