---
import "@fontsource-variable/nunito";
import { ClientRouter } from "astro:transitions";
import "swiper/css";
import "swiper/css/pagination";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="English for Abroad offers private, personalized online English lessons, catering to both children and adult students from Korea to Spain. Class offerings range from conversation and business English to writing tutoring and test prep. Each session is tailored to your individual learning goals. Classes also integrate advanced paraphrasing tools to enhance your learning growth. Enjoy focused instruction adjusted for all proficiency levels, whether you're a beginner or advanced. Benefit from my professional guidance as an experienced teacher dedicated to your success. Launch your learning journey and enroll in your first class today!"
    />
    <meta
      name="keywords"
      content="ESL Classes, Online Lessons, Business English, English Tutoring, Conversation Course"
    />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="English for Abroad offers private, personalized online English lessons, catering to both children and adult students from Korea to Spain. Class offerings range from conversation and business English to writing tutoring and test prep. Each session is tailored to your individual learning goals. Classes also integrate advanced paraphrasing tools to enhance your learning growth. Enjoy focused instruction adjusted for all proficiency levels, whether you're a beginner or advanced. Benefit from my professional guidance as an experienced teacher dedicated to your success. Launch your learning journey and enroll in your first class today!"
    />
    <meta
      property="og:image"
      content="https://www.englishforabroad.com/favicon.ico"
    />
    <meta property="og:url" content="https://www.englishforabroad.com/" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <a
      class="rotate-[270deg] origin-bottom-right fixed right-0 top-1/4 z-[20000]"
      href="https://calendly.com/englishforabroad/trial-esl-class"
      target="_blank"
      rel="noopener"
    >
      <span
        class="bg-[#FF9E80] text-white inline-block font-bold px-10 py-2 rounded-t-lg"
        >Book Free Trial</span
      >
    </a>
    <slot />
    <style is:global>
      @font-face {
        font-family: "BobbyJone";
        src: url("/fonts/BobbyJonesSoft.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      html {
        font-family: "Nunito Variable", sans-serif;
        scroll-behavior: smooth;
        overflow-x: hidden;
        min-height: 100vh;
      }
      body {
        overflow-x: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      h1,
      h2 {
        font-family: "BobbyJone", sans-serif;
      }
    </style>
  </body>
</html>
