---
import "@/styles/global.css";
import "@fontsource-variable/nunito";
import { ClientRouter } from "astro:transitions";
import "swiper/css";
import "swiper/css/pagination";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <!-- BASE -->
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <ClientRouter />

    <!-- SEO -->
    <meta
      name="description"
      content="English for Abroad offers private, personalized online English lessons, catering to both children and adult students from Korea to Spain. Class offerings range from conversation and business English to writing tutoring and test prep. Each session is tailored to your individual learning goals. Classes also integrate advanced paraphrasing tools to enhance your learning growth. Enjoy focused instruction adjusted for all proficiency levels, whether you're a beginner or advanced. Benefit from my professional guidance as an experienced teacher dedicated to your success. Launch your learning journey and enroll in your first class today!"
    />
    <meta
      name="keywords"
      content="ESL Classes, Online Lessons, Business English, English Tutoring, Conversation Course"
    />
    <meta name="viewport" content="width=device-width" />

    <!-- SOCIAL MEDIA -->
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content="Private, personalized English lessons for kids and adults. From conversation and business to writing and test prep—tailored to your goals, all levels welcome. Start your learning journey today!"
    />
    <meta
      property="og:image"
      content="https://www.englishforabroad.com/logo.png"
    />
    <meta property="og:url" content="https://www.englishforabroad.com/" />
    <meta property="og:type" content="website" />

    <!-- REST -->
    <slot name="head" />

    <!-- calendly popup -->
    <link
      href="https://assets.calendly.com/assets/external/widget.css"
      rel="stylesheet"
    />
    <script
      src="https://assets.calendly.com/assets/external/widget.js"
      type="text/javascript"
      async></script>

    <!-- Google Recaptcha -->
    <script
      is:inline
      src={`https://www.google.com/recaptcha/api.js?render=${import.meta.env.PUBLIC_RECAPTCHA_SITE_KEY}`}
      async
      defer></script>
  </head>
  <body>
    <slot name="navbar" />

    <slot name="fixed-cta" />

    <slot />
  </body>
</html>
